

@media only screen and (min-width: 768px) and (max-width: 991px){
	.navbarB {
		position: absolute;
		left: 15px;
	}
	#responsive-menu {
		position: absolute;
		right: 15px;
	}
	.footer {
		padding: 15px;
	}
	.serchTop {
		margin-right: 100px!important;
	}
	.topBar {
		padding: 0!important;
	}
	.fonCenter {
		width: 100%!important;
		margin-left: 180px!important;
	}
	.akkordionOne {
		left: 0;
	}
	.divCenter {
		width: 65%!important;
	}
	.addTaskCenter {
		padding: 10px 170px 10px 85px!important;
	}
}

@media only screen and (max-width: 768px) {
	#responsive-menu {
		width: 100%;
		background-color: #fff;
		color: #ccc;
		position: absolute;
		border: 0;
	}
	.icons {
		display: none;
	}
	.navbarR {
		margin-right: 0!important;
	}
	.navbarB {
		display: none;
	}
	.navbar-header {
		float: left;
	}
	.navbar-header button {
		margin: 8px;
	}
	.akkordionOne {
		display: none;
		left: 0!important;
	}
	.serchTop {
		display: none!important;
	}
	.serchTop-left {
		display: block;
	}
	.fonCenter {
		margin-left: 0!important;
		width: 100%!important;
	} 
	.main {
		padding: 0;
	}
	#dateAdd {
		width: 25%!important;
	}
	#myAddPlus input {
		width: 60%!important;
	}
}










/*@media (max-width: 768px)  {
	.navbarB {
		display: none;
	}
	.navbar-header {
		float: left;
	}
	.navbar-header button {
		margin: 8px;
	}
	.akkordionOne {
		display: none;
		left: 0!important;
	}
	.serchTop {
		display: none!important;
	}
	.serchTop-left {
		display: block;
	}
	.fonCenter {
		margin-left: 0!important;
		width: 100%!important;
	} 
	.main {
		padding: 0;
	}
	#dateAdd {
		width: 25%!important;
	}
	#myAddPlus input {
		width: 60%!important;
	}
}*/