
@font-face {
  font-family: worksans;
  src: url("../fonts/worksans.woff2");
}
.homeBody {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #e9ebee; 
}
a {
	text-decoration: none;
}
.navbar-right li {
	height: 50px;
	transition: all 0.2s;
}
.navbar-right li:hover {
	background-color: #f6f6f6;
	border-bottom: 2px solid red;
}
.navbar-right li a:visited {
	color: #9d9d9d!important;
}
.fixidTop {
	background-color: #fff;
	border: 0;
	margin-bottom: 0;
	height: 50px!important;
}
.navbar-brand {
	color: red!important;
}
.icon-bar {
	background-color: red!important;
}
.animateSpan.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: relative;
    top: 6px;
}
.animateSpan.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}
.animateSpan.open span:nth-child(3) {
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	position: relative;
    top: -6px;
}
.animateButton {
	background-color: #fff!important;
	border: 0;
}
.imageGirl {
	background-image: url(../images/girl-image1.jpeg);
	background-size: cover;
	background-position: 50% 50%;
	height: 400px;
}
.imageGirl {
	text-align: center;
	padding-top: 130px;
	color: #fff;
}
.imageGirl h2 {
	font-size: 40px;
}
.imageGirl p {
	font-size: 25px;
}
.imageGirl img {
	height: 45px;
}
.icons {
	border-bottom: 1px solid #ccc;
}
.allIkons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0;
	color: #ccc;
}
.allIkons li {
	display: flex;
	flex-direction: column;
	list-style: none;
	text-align: center;
	margin: 14px;
	cursor: pointer;
	transition: opacity .2s ease-in;
}
.allIkons i {
	font-size: 20px;
}
.allIkons li:hover {
	color: #a09696!important;
}
.animateSpanTree {
	padding: 0;
	text-align: center;
	color: #333;
}
.animateSpanTree h2 {
	font-size: 30px;
	margin: 70px auto;
}
.animateSpanTree p {
	font-size: 20px;
	color: red;
}
.spanTree {
	width: 9px;
    height: 9px;
    background-color: #202020;
    border-radius: 100%;
    margin-right: 1px;
	-webkit-animation: spanTree 1.4s infinite ease-in-out both;
    animation: spanTree 1.4s infinite ease-in-out both;
}
@keyframes spanTree {
	0%, 80%, 100% {
	-webkit-transform: scale(0);
    transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
    	transform: scale(1);
	}
}
.animateTree {
	display: flex;
	justify-content: center; 
	margin: 10px auto;
}
.spanTree:first-child {
	-webkit-animation-delay: -0.31s;
    animation-delay: -0.31s;
}
.spanTree:nth-child(2) {
	-webkit-animation-delay: -0.15s;
    animation-delay: -0.15s;
}
.citiSvg {
	text-align: center;
	padding: 50px 0;
}
.citiSvg img {
	margin: 40px auto;
}
.citiSvg p {
	font-size: 18px;
	color: #7d8485;
}
.citiSvg button {
	padding: 13px 15px;
	font-size: 15px;
	background-color: #8a0707;
	border-radius: 5px;
	border: 0;
}
.citiSvg button:hover {
	background-color: red;
}
.citiSvg a {
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}
.budem {
	text-align: center;
	background-color: #212121;
	padding: 0;
	color: #939393;
}
.budem h2 {
	font-size: 15px;
	font-weight: bold;
}
.budem ul {
	display: inline-flex;
	padding: 0;
}
.budem li {
	list-style: none;
	margin: 15px;
	cursor: pointer;
}
.budem li:hover {
	color: #ccc8c8;
}
.budem li i {
	font-size: 25px;
}
.footerOne p {
	margin: 0;
	font-weight: bold;
	color: #fff;
}
.footer {
	background-color: #343434;
	padding: 50px 150px;
}
.footer a {
	color: #939393; 
	font-size: 15px;
}
.footer a:hover {
	color: #ccc8c8;
}
.footer ul {
	padding: 0;
}
.footer li {
	list-style: none;
}
.footer h3 {
	font-size: 15px;
	color: #ccc8c8;
	font-weight: bold;
}
.footer select {
	border: 1px solid #939393;
    border-radius: 3px;
    width: 150px;
    padding: 3px;
}
.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
#myAddPlus .close {
	color: inherit!important;
}
.modal-footer {
    background-color: #f9f9f9;
}
.checkbox a {
	color: red!important;
}
.checkbox a:hover {
	text-decoration: underline!important;
}
.modal-header {
	padding: 10px!important;
}
.btnLogin {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.addTaskCenter {
	padding: 10px 120px;
	display: none;
}
.addTaskInput {
	margin-top: 30px;
	padding: 7px;
    width: 79%;
    border: 2px solid #f3eaea;
    border-right: none;
}
.taskCenter:before {
	font-family: "Font Awesome 5 Free";
    content: "\f067";
    position: absolute;
    font-size: 15px;
    color: #a94442;
    font-weight: bold;
}
.taskCenter a {
	padding-left: 23px;
	font-size: 17px;
    color: #a94442;
}
.taskCenter a:hover {
	text-decoration: underline;
}













@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@font-face {
  font-family: worksans;
  src: url("../fonts/worksans.woff2");
}

#fixedTop {
	background: linear-gradient(45deg,#901206 0%,#ce2525 100%);
	margin-bottom: 0;
	border-radius: unset;
}
.navbarR {
	display: inline-flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 80px;
    height: 50px;
}
.navbar-toggle {
	float: left;
	margin-top: 15px;
}
.serchTop input, .serchTop-left input {
	padding-left: 25px;
	border-radius: 5px;
	background-color: #d7d7f5;
	font-weight: bold;
	border: none!important;
	width: 219px;
}
.serchTop::before {
	 font-family: "Font Awesome 5 Free";
	 content: "\f002";
	 position: absolute;
	 font-size: 16px;
	 padding-left: 5px;
	 color: #747475;
	 font-weight: bold;
}
.navbarR i {
	font-size: 25px;
    color: #eef3ec;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.navbarR img {
	width: 40px;
	height: 40px;
    cursor: pointer;
    border-radius: 30px;
}
.navbarR i:hover {
	background-color: maroon;
}
.topBar {
	padding: 0 70px;
}
.navbarB {
	margin: 0!important;
    height: 75px; 
    line-height: unset;
    font-size: 33px;
    font-family: worksans;
    background: linear-gradient(45deg,#ff0055 0%,#ff6600 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-size: cover;
    background-repeat: no-repeat;
	overflow: hidden;
}
.main div {
 font-family: Roboto, sans-serif;
 font-size: 15px;
 /*color: #777777;*/
 line-height: 1.4;
 text-align: left;
}
.main a {
 font-weight: 400;
 text-decoration: none;
 cursor: pointer;
}
.panel {
	background-color: #e9ebee; 
	margin-bottom: 0;
	border: none;
}
.panel-body {
	padding: 0 0 0 20px;
}
.panel-heading {
 margin-top: 10px;
}
.panel-heading a {
	width: 220px;
	background: #ef5858;
	color: #ffffff;
	display: block;
	padding: 10px 40px 10px 15px;
	position: relative;
	transition: 0.3s;
}
.panel-heading a:hover {
 background: #901206;
}
.panel-heading a i {
 font-size: 16px;
 width: 30px;
}
.panel-heading a::after {
 content: "\f107";
 font-family: "Font Awesome 5 Free";
 position: absolute;
 right: 15px;
 transition: 0.3s;
 font-weight: bold;
}
.panel-heading.in a::after {
 transform: rotate(180deg);
}
.panel-collapse {
 display: none;
 padding-bottom: 20px;
}
.projectCloce {
	color: red!important;
    font-size: 25px;
    position: absolute;
    right: 30px;
    top: -1px;
} 
.wrapper-ul ul {
 margin-top: 5px;
 padding-left: 20px;
 list-style-type: none;
}
.wrapper-ul li {
	margin-bottom: 2px;
 	position: relative;
}
.wrapper-ul li::before {
 content: '\f105';
 font-family: "Font Awesome 5 Free";
 font-weight: bold;
 position: absolute;
 left: -13px;
 top: 0;
 color: #09afdf;
 transition: 0.5s;
}
.wrapper-ul li a {
 color: #a94442;
}
.wrapper-ul li:first-child {
 color: #333333;
 font-weight: 500;
}
.wrapper-ul li a:hover {
 color: #097ca6;
}
.wrapper-ul li:hover::before {
 transform: translateX(4px);
 color: #097ca6;
}
.wrapper-ul li:last-child::before {
	content: "";
}
.button {
 margin-top: 20px;
}
.button a {
 color: #ffffff;
 padding: 8px 25px;
 transition: 0.3s;
}
.button a:hover {
    color: red!important;
}
.button::before {
	font-family: "Font Awesome 5 Free";
	content: "\f067";
	position: absolute;
	font-size: 20px;
	margin-top: -3px;
	color: #a94442;
	font-weight: bold;
}
.akkordionOne {
	background-color: #e9ebee!important;
	width: 280px!important;
	float: left;
	top: 50px;
	z-index: 1;
	position: fixed!important;
	overflow-y: auto!important;
	margin-bottom: 50px;
	display: block;
}
.serchTop {
	margin-right: 100px;
}
.serchTop-left {
    margin: 10px auto 0 15px;
    display: none;
}
.serchTop-left::before {
	font-family: "Font Awesome 5 Free";
	 content: "\f002";
	 position: absolute;
	 font-size: 16px;
	 padding-left: 5px;
	 color: #747474;
	 font-weight: bold;
}
.tableSettings {
	background-color: aliceblue;
	border-radius: 5px;
	padding: 10px;
	z-index: 5;
    position: fixed;
    top: 50px;
    right: 90px;
    font-weight: bold;
    color: #6E5B65;
    display: none;
    box-shadow: 0 0 5px;
}
.tableS {
	min-width: 250px;
}
.tableS td {
	padding-left: 5px;
}
.tableS tr {
	cursor: pointer;
	padding: 2px;
}
.tableS tr:hover {
    background: #F7EEEE;
}
.inputProject{
    width: 165px;
   height: 35px;
   margin-bottom:5px;
}
.cancelProject{
    margin-left:5px;
}
.spanSettings {
	top: 43px;
    right: 18px;
    background-color: aliceblue;
    content: "";
    height: 8px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 9px;
    display: none;
}
.tableNotifi a {
	color: #999;
}
.tableNotifi a:hover {
	text-decoration: underline;
}
.spanSettings1 {
	top: 43px;
    right: 61px;
    background-color: #fff;
    content: "";
    height: 8px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 9px;
    display: none;
}
.tableNotifi {
	width: 400px;
	background-color: aliceblue;
	z-index: 5;
    position: absolute;
    top: 50px;
    right: 150px;
    color: #6E5B65;
    display: none;
    border: 2px solid aliceblue;
    border-radius: 5px;
    box-shadow: 0 0 5px;
}
.tableNotifi div {
	font-size: 12px!important;
}
.notifiFooter {
	padding: 10px;
}
.notifiCenter {
	margin: 0 10px 0 10px;
}
.notifiHover:hover {
	background-color: #cecaca;
	cursor: pointer;
}
.tableNotifi a, .tableNotifi input {
	float: right;
}
.notifiHider {
	padding: 10px;
	background-color: #fff;
}
.tableN {
	min-width: 250px;
}
.tableN td {
	padding-left: 5px;
}
.tableN tr {
	cursor: pointer;
	padding: 2px;
}
.tableN tr:hover {
    background: #F7EEEE;
}
.fonCenter {
	background-color: #fff;
	min-width: 500px;
	width: 70%;
	margin-left: 280px;
	margin-top: 50px;
	height: 92vh;
}
.akkordionOne li {
	list-style: none;
}
.workDays li button {
	width: 92%;
    position: relative;
    left: -26px;
    border: none!important;
    padding: 7px; 
    margin-top: 7px;
}
.workDays {
	margin-top: 30px;
}
.fonCenter span a {
	font-size: 20px;
	color: #ef5858;
}
.fonCenter span a:hover {
	text-decoration: underline;
}
.main {
	overflow-y: hidden;
}
.divCenter {
	position: relative;
    top: 40px;
    left: 80px;
    width: 80%;
}
.modal-body {
	background-color: #fff;
	padding:40px 50px;
}
#myAddPlus input {
	width: 79%;
    background: #fff;
    padding: 7px;
    border-radius: unset;
    border: 2px solid #f3eaea;
    border-right: none;
}
.flags {
	padding: 10px;
}
.flags a:nth-child(4) {
	color: #ccc!important;
}
.flags a:nth-child(4) i {
	border: 1px solid;
}
.flags a:nth-child(5) {
	color: #ffe000!important;
}
.flags a:nth-child(6) {
	color: #ccb61a!important;
}
.flags a:nth-child(7) {
	color: red!important;
}
.flags span {
	margin-bottom: 3px;
}
#dateAdd {
	width: 20%;
	padding: 7px 0;
    border: 2px solid #f3eaea;
    background-color: #fff;
	margin-bottom: 10px;
}
#dateAddTask {
	width: 20%;
	padding: 7px 0;
    border: 2px solid #f3eaea;
    background-color: #fff;
	margin-bottom: 10px;
}
.AddClock {
	float: right;
	display: flex;
}
.AddClock button {
	border: none!important;
	background: none!important;
	color: #ccc;
	padding: 0;
}
.AddClock i {
	padding: 5px;
	cursor: pointer;
	font-size: 20px;
}
.AddClock button i:hover {
	color: #bdb2b2;
}
.AddClock button i:last-child {
	margin-right: 5px!important;
}
#myAddPlus h3 {
	margin-top: 0;
}
#myAddPlus .modal-body {
	padding: 20px 30px!important;
} 
.ulCenter {
	list-style: none;
}
.logoutBatton {
	background: inherit;
	border: none;
	width: 100%;
	text-align: left;
}













@media (max-width: 768px)  {
	.navbarB {
		display: none;
	}
	.navbar-header {
		float: left;
	}
	.navbar-header button {
		margin: 8px;
	}
	.akkordionOne {
		display: none;
		left: 0!important;
	}
	.serchTop {
		display: none!important;
	}
	.serchTop-left {
		display: block;
	}
	.fonCenter {
		margin-left: 0!important;
		width: 100%!important;
	} 
	.main {
		padding: 0;
	}
	#dateAdd {
		width: 25%!important;
	}
	#myAddPlus input {
		width: 60%!important;
	}
}


/*h1 {
	font-size: 80px;
	background: url(image/blees.jpg);
	background-position: 60%;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}
.logo {
	width: 700px;
	margin: 200px auto;
	font-size: 30px;
	font-family: sans-serif;
	position: relative;
}
.logo p {
	width: 70%;
}
.error-logo {
	position: absolute;
	right: 0px;
	top: -150px;
	font-size: 100px;
	color: red;
}

.error-logo img {
	border-radius: 100px;
	width: 150px;
	height: 150px;
	background: red;
}*/












                                                         /*login*/
.todoBody {
 background-image: url("../images/xzbz.jpg");
 background-size: cover;
 background-repeat: repeat;
 height: 100vh;
}
.cont a{
    color: #1a394f;
	font-weight: bold;

 }
.cont a:hover{
    text-decoration: none;
    color: #fff;
}
.cont{
	background-image: url("../images/workUp.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width:450px;
	margin: 170px auto 0 auto;
	text-align: center;
	padding-bottom: 20px;
	border-radius: 20px;
}
.cont img{
 width:120px;
 height:120px;
 margin: -60px 0 30px 0;
 border: 5px solid #1a394f;
 border-radius: 50%;
}

.cont input[type="text"], .cont input[type="password"]{
 width: 300px;
 height:40px;
 font-size: 18px;
 margin-bottom: 25px;
 border-radius: 4px;
 padding-left: 40px;
}
.dws-input input:hover{
 box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.35);
}
.dws-submit {
 padding: 10px 30px;
 margin: 5px 0 20px 0;
 font-size: 15px;
 color: #fff;
 background-color: #2ca8c6;
 border: none;
 border-bottom: 2px solid #6ee9fd;
 border-radius: 3px;
 cursor: pointer;
}
.dws-submit:hover{
 transition: all 0.5s;
 background: #fff;
 color: #2c536c;
}

.dws-input::before{
 font-family: "Font Awesome 5 Free";
 content: "\f007";
 position: absolute;
 font-size: 30px;
 padding-left: 7px;
 color: #2c536c;
 font-weight: bold;
}
.dws-input:nth-child(2)::before{
content: "\f023";
}
.dws-input:hover::before{
 color: #319ebc;
 transition: all 0.3s;
}
.dws-social i{
 color: #319ebc;
 font-size: 20px;
 padding: 10px;
}
.dws-social i:hover{
 background-color: #fff;
 color: #1a394f;
 border-radius: 5px;
 cursor: pointer;
}
.image1 {
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 100px;
}
.image2 {
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 100px;
}
.image3 {
	top: 300px;
	right: 300px;
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 100px;
}
.image4 {
	bottom: 200px;
	right: 200px;
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 100px;
}
#searchdisplay {
	position: absolute;
	background-color: white;
	width: 219px;
	border-radius: 5px;
	line-height: 1.8;
}
.nav {
		list-style-type: none;

}