<div>
    <?php if(isset($data['message'])): ?>
    <h1><?=$data['message']?></h1>
    <?php endif; ?>
    Registration:
    <form action="/admin" method="POST" id="form">
        <input type="text" name="username" placeholder="username" required>
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="surname" placeholder="Surname" required>
        <input type="text" name="phone" placeholder="Phone" required>
        <input type="text" name="email" placeholder="Email" required>
        <input type="text" name="password" placeholder="password" required>
        <input type="submit" name="submit" value="register">
        <br>
        <br>
        <br>
        <input type="submit" name="submit" value="Logout" formnovalidate>
    </form>
</div>