<?=$data['header']?>
<?php $count = count($data['arr']);?>
<?php $today_count = count($data['to_day']);?>


<div class="akkordionOne collapse" id="akkId">
    <label class="serchTop-left"><input type="text" placeholder="Search.."></label>
    <ul class="workDays">
        <li><button>Inbox</button></li>
        <li><button id="to_day" data-current="<?php echo $date = date('d-m-Y');?>">Today</button></li>
        <li><button id="next_7" data-next-7="<?php echo $date = date('d-m-Y H:i', strtotime('+7 day')); ?>" data-current="<?php echo $date = date('d-m-Y H:i');?>">Next 7 Days</button></li>
    </ul>
    
    <div class="panel">
        <div class="panel-heading">
            <a><i class="fas fa-briefcase"></i>Projects</a>
        </div>
        <div class="panel-collapse">
            <div class="panel-body">
                <div class="wrapper-ul">
                    <ul class="project_ul">
                       <?php for($i = 0; $i < $count; $i++):?>
                           <li><a class="project" data-project-id="<?= $data['arr'][$i]['project_id'];?>"><?=$data['arr'][$i]['title'];?></a><button type="button" class="close projectCloce" data-dismiss="modal" data-prId="<?= $data['arr'][$i]['project_id'];?>">×</button></li>
                      <?php endfor ?>
                       <li><div class="button" data-category-id="1"><a href="#">Add Project</a></div></li>
                   </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <a><i class="fas fa-tags"></i>Labels</a>
        </div>
        <div class="panel-collapse">
            <div class="panel-body">
                <div class="wrapper-ul">
                    <ul>
                        <li><div class="button"><a href="#">Add Label</a></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <a><i class="fas fa-filter"></i>Filters</a>
        </div>
        <div class="panel-collapse">
            <div class="panel-body">
                <div class="wrapper-ul">
                    <ul>
                        <li><a href="#">Назначено мне</a></li>
                        <li><a href="#">Назначено другим</a></li>
                        <li><a href="#" class="priority" data-set='1'>Приоритет 1</a></li>
                        <li><a href="#" class="priority" data-set='2'>Приоритет 2</a></li>
                        <li><a href="#" class="priority" data-set='3'>Приоритет 3</a></li>
                        <li><a href="#" class="priority" data-set='4'>Приоритет 4</a></li>
                        <li><a href="#" class="priority" data-set='all'>Посмотреть все</a></li>
                        <li><a href="#" class="priority" data-set='no_dead'>Нет срока выполнения</a></li>
                        <li><div class="button"><a href="#">Add Filter</a></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fonCenter">
    <div class="divCenter">
        <span id="date">
                    <a href="#">Today</a>
                </span>
        <ul class="ulCenter">
            <?php for($i = 0; $i< $today_count; $i++): ?>
            <?php if(!empty($data['to_day'])) :?>
            <li><a data-task-id="<?= $data['to_day'][$i]['task_id']?>"><?= $data['to_day'][$i]['title']?></a></li>
            <?php endif ?> 
            <?php endfor ?>

            
            <li class="taskCenter">
                <a href="#" id="addTask">Add Task</a>
            </li>
        </ul>
    </div>
    <div class="addTaskCenter">
        <form role="form">
            <input type="text" class="addTaskInput" placeholder="e.g. Design meeting at 11am p1 #Meeting">
            <button id="dateAddTask"></button>
            <div>
                <button class="btn btn-success saveTask" id="saveTask" data-priority="0">Save</button>
                <button class="btn btn-danger" id="cencelTask">Cansel</button>
                <div class="AddClock">
                    <div class="dropdown">
                        <button><i class="fas fa-tasks"></i></button>
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuclock" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-business-time"></i></button>
                        <div class="dropdown-menu flags" aria-labelledby="dropdownMenuclock">
                            <input type="text" id="deadline_date" data-field="datetime"  readonly>
                            <div id="dtBox"></div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-priority="0"><i class="fas fa-flag"></i></button>
                        <div class="dropdown-menu flags" aria-labelledby="dropdownMenu" >
                            <span>priority</span>
                            <br>
                            <br>
                            <a class="dropdown-item" href="#" data-priority="1"><i class="fas fa-flag"></i></a>
                            <a class="dropdown-item" href="#" data-priority="2"><i class="fas fa-flag"></i></a>
                            <a class="dropdown-item" href="#" data-priority="3"><i class="fas fa-flag"></i></a>
                            <a class="dropdown-item" href="#" data-priority="4"><i class="fas fa-flag"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="modal fade" id="myAddPlus" role="dialog">
    <div class="modal-dialog">
        <div class="modal-body">
            <form role="form">
                <h3>Quik Add Test
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </h3>
                <input type="text" placeholder="e.g. Conference Wednesday at 15 #Meeting">
                <button id="dateAdd"></button>
                <div>
                    <button class="btn btn-danger saveTask" data-priority="0">Add Task</button>
                    <span class="AddClock">
                        <div>
                        <button><i class="fas fa-tasks"></i></button>
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuclock" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-business-time"></i></button>
                        <div class="dropdown-menu flags" aria-labelledby="dropdownMenuclock">
                            <input type="datetime-local" >
                        </div>
                    </div>
                        <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fas fa-flag"></i></button>
                        <div class="dropdown-menu flags" aria-labelledby="dropdownMenu" >
                            <span>priority</span>
                            <br>
                            <br>
                            <a class="dropdown-item" href="#" data-priority="1"><i class="fas fa-flag"></i></a>
                            <a class="dropdown-item" href="#" data-priority="2"><i class="fas fa-flag"></i></a>
                            <a class="dropdown-item" href="#" data-priority="3"><i class="fas fa-flag"></i></a>
                            <a class="dropdown-item" href="#" data-priority="4"><i class="fas fa-flag"></i></a>
                        </div>
                    </div>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>





<?=$data['footer']?>